<ng-container *ngIf="character$ | async as character; else loading">
  <h1>{{character.name}}</h1>

  <mat-list>
    <mat-list-item>Gender: {{character.gender}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Birth year: {{character.birth_year}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Height: {{character.height}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Mass: {{character.mass}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skin color: {{character.skin_color}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Eye color: {{character.eye_color}}</mat-list-item>
  </mat-list>

</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>


